.container {
    width: 70%;
    height: 90vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div {
    border: 1px solid black;
}

.array-bar {
    background-color: aqua;
}

.min-idx {
    background-color: yellow !important;
}

.bg-primary {
    background-color: red !important;
}